<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div style="width:90%;margin:0 auto;">
			<%= render "form", name:"Editar" %>
	</div>
</body>
</html>
