<div class="container-fluid">
	<h1>Artículos</h1>
	<div class="text-center">
		<%= link_to "Nuevo articulo", new_article_path, class:"btn be-green"%>
	</div>
	<div class="row">
		<%= render @articles %>
	</div>
</div>
<div class="text-center top-space3">
	<%= will_paginate @articles %>
</div>
