<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<% if user_signed_in? %>
	<h1> Bienvenido <%= current_user.email %></h1>
	<% end %>
</body>
</html>
